<!-- Navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Golf Handicap</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ><a href="/allplayers/">All Players</a></li>
        <li><a href="/games/">Games</a></li>
        <li><a href="/golfhandicap/rules">Rules</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/allplayers/">All Players</a></li>
            <li><a href="/games/">Games</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Golf Links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="http://www.thegolfchannel.com/">Golf Channel</a></li>
            <li><a target="_blank" href="http://www.chappelle.ws/league/terminology.htm">Golf Terminology</a></li>
            <li><a target="_blank" href="http://www.mgalinks.org/">Massachusetts Golf Association</a></li>
            <li><a target="_blank" href="http://www.nepga.com/">New England PGA</a></li>
            <li><a target="_blank" href="http://www.pga.com//">PGA of America</a></li>
            <li><a target="_blank" href="http://www.pgatour.com/">PGA Tour</a></li>
            <li><a target="_blank" href="http://www.usga.org/">USGA</a></li>
            <li><a target="_blank" href="http://www.rulesofgolf.com/">USGA Rules of Golf</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
